@forward "bulma/sass/utilities";
@forward "bulma/sass/base";
@forward "bulma/sass/helpers/visibility";
@forward "bulma/sass/helpers/flexbox";
@forward "bulma/sass/helpers/typography";

.image {
    max-width: 768px;

    figcaption {
        position: relative;
        text-align: right;
        color: white;
        font-size: 0.8rem;
        margin-top: -2rem;
        padding-right: 0.5rem;
        text-shadow: 1px 1px 1px black;
    }

    .header {
        position: relative;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        width: 90%;
    }
}
